<% @game_questions.each do |game_question| %>
  <p><%= game_question.question.question %></p>
  <%= simple_form_for @game do |f| %>
    a <%= f.input :answer, as: :hidden, input_html: { value: "a", disabled: true } %>
    b <%= f.input :answer, as: :hidden, input_html: { value: "b", disabled: true } %>
    c <%= f.input :answer, as: :hidden, input_html: { value: "c", disabled: true } %>
    d <%= f.input :answer, as: :hidden, input_html: { value: "d", disabled: true } %>
    <%= f.submit "Continue" %>
  <% end %>
<% end %>

<p><%= link_to "Score", score_game_path(@game) %></p>
